@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

#footer{
    /* Rectangle 14 */
width: 1600px;
height: 780px;
background: rgb(247, 229, 217);
display: flex;
padding: 130px 230px;

}

.input-text{
    display: flex;
    flex-direction: column;
}

.btn{
cursor: pointer;
width: 150px;
height: 64px;
border-radius: 5px;
background: rgba(253, 110, 10, 1);
border: none;
color: aliceblue;


}

.social-icon img{
    margin: 30px 24px;
}

.media-desc{
    width: 562px;
height: 56px;
color: rgba(71, 71, 71, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
}

.name{
    margin-top: 28px;
    /* Rectangle 16 */
width: 461px;
height: 64px;
border-radius: 5px;
background: rgba(255, 255, 255, 1);
/* padding: 18px 350px 18px 30px; */
/* Your name */
border: none;


}

.email{
margin-top:24px ;
margin-bottom: 24px;
    /* Rectangle 16 */
width: 461px;
height: 64px;
border-radius: 5px;
background: rgba(255, 255, 255, 1);
border: none;
}
.message{
/* Rectangle 16 */
width: 461px;
height: 180px;
border-radius: 5px;
background: rgba(255, 255, 255, 1);
margin-bottom: 24px;
border: none;

}

.message-section{
margin-left:117px ;

}

.btn:hover{
    background-color: rgb(163, 127, 247);
    color: black;
    transition-duration: 0.5s;
}
.name::placeholder{
    /* Your name */
width: 82px;
height: 28px;
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: right;
}

